.gradle/1.9/taskArtifacts/cache.properties
.gradle/1.9/taskArtifacts/cache.properties.lock
.gradle/1.9/taskArtifacts/fileHashes.bin
.gradle/1.9/taskArtifacts/fileSnapshots.bin
.gradle/1.9/taskArtifacts/outputFileStates.bin
.gradle/1.9/taskArtifacts/taskArtifacts.bin
.idea/workspace.xml
Lab-2/.gradle/1.9/taskArtifacts/cache.properties
Lab-2/.gradle/1.9/taskArtifacts/cache.properties.lock
Lab-2/.gradle/1.9/taskArtifacts/fileHashes.bin
Lab-2/.gradle/1.9/taskArtifacts/fileSnapshots.bin
Lab-2/.gradle/1.9/taskArtifacts/outputFileStates.bin
Lab-2/.gradle/1.9/taskArtifacts/taskArtifacts.bin
